.header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.header .inner {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
